<div fxLayout="column" fxLayoutGap="20px" fxFlexFill fxLayoutAlign="start stretch">
  <h4>NgRX</h4>
  <div fxFlex fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="1 1 300px">
      <sgs-playlists-list [playlists]="playlists | async" [selectedId]="(selected|async)?.id"
        (selectedIdChange)="selectById($event)"></sgs-playlists-list>
    </div>
  </div>
  <div fxFlex="1 1 500px">
    <ng-container *ngIf="selected | async as playlist">

      <p *ngIf="!playlist">Please select playlist</p>

      <div [ngSwitch]="mode | async" *ngIf="playlist">
        <div *ngSwitchDefault>
          <sgs-playlists-details [playlist]="playlist" (onEdit)="switchToEdit()"></sgs-playlists-details>
        </div>


        <div *ngSwitchCase="'edit'">
          <sgs-playlist-edit-form [playlist]="playlist" (onSave)="savePlaylist($event)" (onCancel)="switchToDetails(playlist.id)">
          </sgs-playlist-edit-form>
        </div>

      </div>
    </ng-container>

  </div>
</div>