<div fxLayout="column" fxLayoutGap="20px" fxFlexFill fxLayoutAlign="start stretch">

  <div fxFlex fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="1 1 300px">
      <!-- <sgs-playlists-list 
      [playlists]="playlists" 
      [(selectedId)]="selectedId"></sgs-playlists-list> -->
      
      <sgs-playlists-list 
      [playlists]="playlists" 
      [selectedId]="selectedId"
      (selectedIdChange)="selectById($event)"></sgs-playlists-list>

      
    <p>Some info</p>

      <!-- <input type="text" [value]="zmienna" (change)="zmienna = $event.target.value"> -->
    </div>
    <div fxFlex="1 1 500px">
      <p *ngIf="!selected">Please select playlist</p>
      <div [ngSwitch]="mode" *ngIf="selected">
        <div *ngSwitchDefault>
            <sgs-playlists-details [playlist]="selected"
            (onEdit)="switchToEdit()"></sgs-playlists-details>
        </div>  

        
        <div *ngSwitchCase="'form'">
          <sgs-playlist-edit-form 
          [playlist]="selected"
          (onSave)="savePlaylist($event)"
          (onCancel)="switchToDetails()"></sgs-playlist-edit-form>
        </div>

      </div>  

    </div>
  </div>
</div>












