<div fxLayout="column" fxLayoutGap="20px" fxFlexFill fxLayoutAlign="start stretch">

  <sgs-search-form fxFlex [query]="queryChanges | async" (search)="searchAlbums($event.query)"></sgs-search-form>

  <div fxFlex fxLayout="column" fxLayoutGap="20px">

    
    <ng-container *ngIf="albumsChanges | async as albums ">
      <p>Found {{(albums)?.length}} results </p>
      
      <sgs-search-results fxFlex [results]="albums"></sgs-search-results>
    </ng-container>
    
    
  </div>

</div>