<mat-list>

  <mat-list-item *ngFor="let playlist of playlists; trackBy: trackFn; index as i"   [ngClass]="{active: selectedId === playlist.id}"
  (click)="select(playlist)">
    <span matLine>{{i+1}}. {{playlist.name}}</span>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>


<p>Some info</p>