:host {
  display: block;
}

.mat-list-item.active {
  background: #dcdcfb;
}


:host(.compact){
  color:red;
}


// <sgs-child class="selected"
// :host(.selected){}

// <sgs-child expaneded
// :host([expanded]){}

// <sgs-datepicker [(ngModel)]
// :host([ngModel].ng-valid){}