<div [formGroup]="searchForm">
  <!-- [formControl]="searchForm.get('query')" -->


  <mat-form-field appearance="standard" fxFlex="0 1 100%">
    <mat-label>Search albums</mat-label>
    <input matInput formControlName="query" placeholder="Search albums" (keyup.enter)=" submitSearch()">
    <!-- <mat-icon matSuffix></mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>


  <button mat-raised-button color="primary" fxFlex="0 0 100px" fxFlexAlign="center" style="margin-left: 16px;"
    (click)="submitSearch()">
    Search
  </button>

</div>