<form fxLayout="column" fxLayoutGap="20px" #formRef="ngForm" (ngSubmit)="save(formRef)">
  <!-- <pre>{{playlist | json}}</pre> -->

  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput [ngModel]="playlist.name" name="name" #nameRef="ngModel">
    <mat-hint align="end">{{170 - nameRef.value?.length}} / 170</mat-hint>
  </mat-form-field>

  <mat-checkbox [ngModel]="playlist.public" name="public" name="public">Public</mat-checkbox>

  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <textarea matInput [ngModel]="playlist.description" name="description"></textarea>
    <mat-hint align="end">{{250 - playlist.name.length}} / 250</mat-hint>
  </mat-form-field>


  <div ngModelGroup="extras">
    <input type="hidden" ngModel name="extra_option" value="extra">
  </div>

  <div fxLayout="row" fxLayoutAlign="end end">
    <button mat-raised-button color="warn" (click)="onCancel.emit()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>

</form>