<mat-sidenav-container class="example-container" fxFlexFill>

  <mat-sidenav fxFlex="1 1 150px" [mode]="isMobile? 'over':'side'" [opened]="sidebarOpen">
    <div fxLayout="column" fxFill>
      <mat-toolbar color="primary">
        <mat-icon></mat-icon>
        <h3>{{title}}</h3>
      </mat-toolbar>
      <mat-list>
        <mat-list-item routerLink="/music-search">Search music</mat-list-item>
      </mat-list>
      <mat-list>
        <mat-list-item routerLink="/playlists">Playlists</mat-list-item>
      </mat-list>

      <!-- <sgs-sample-widget></sgs-sample-widget> -->

      <span fxFlex="1 1 100%"></span>
      <sgs-recent-search></sgs-recent-search>
      <mat-list>
        <mat-list-item (click)="login()">Login</mat-list-item>
      </mat-list>
    </div>

  </mat-sidenav>

  <mat-sidenav-content style="width:100%">
    <mat-toolbar color="primary">
      <mat-icon (click)="sidebarOpen = !sidebarOpen">menu</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>